<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
	 <context-param>
	    <param-name>driver</param-name>
	    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
	    <param-name>url</param-name>
	    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
	    <param-name>username</param-name>
	    <param-value>system</param-value>
	</context-param>
	<context-param>
	    <param-name>password</param-name>
	    <param-value>koushikkoushik</param-value>
	</context-param>

  
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServ</display-name>
    <servlet-name>RegServ</servlet-name>
    <servlet-class>login.RegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServ</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>login.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
</web-app>